/***** DanielJByczynski CSS Stylesheet *****/

/* Generic elements & classes */
body {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: #454f60;
}

.center-content-child {
  padding: 0 20%;
}

.link-button {
  padding: 3em;  
  background-color: #262626;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

footer {
  color: white;
  background-color: #262626;
}

/* Landing screen */
.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing h1 {
  text-shadow: 3px 3px 3px #e7eef2;
  margin: 1em 0 0.25em;
}

.koi {
  max-width: 200px;
  animation: rotation infinite 250s linear;
}
@keyframes rotation {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

/* About */
.about {
  filter: drop-shadow(0px 0px 2px rgba(69,79,96,1));
}

.about .container-fluid {
  -webkit-clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
  background-color: #454f60;
}

.about-me-content, .about-me-content h2 {
  color: #e7eef2;
}

/* Projects */
.card {  
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  max-width: 700px;
  min-width: 300px;
}

.tech-icon {
  font-size: 2em;
}

/* Contact */

.contact {
  background-color: #e7eef2;  
  -webkit-clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
}

.form-col {
  margin: 0 auto;
}

.form-group {
  margin-bottom: 0;
  max-width: 700px;
}

.list-group-item {
  color: #e7eef2;
  background-color: #454f60;
}

.card-icon {
  width: 30px;
  margin: auto 0;
  opacity: 0.7;
}

.modal-img {
  max-height: 135px;
}

footer {
  -webkit-clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
}

/*** Responsive Styles ***/
@media only screen and (max-width: 1260px) {
  .center-content-child {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 960px) {
  .center-content-child {
    padding: 0 2%;
  }
}
